html {
    height: 450px;
    position: relative;
    width: 100%;
    background-size: cover;
    clear:both;
    top:100px;
    background-image: url('./images/230395.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-us {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 30px;
}

#carousel{
    display: flex;
}